# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/

# iOS/Xcode related
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/engine/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
ios/Runner.xcworkspace/xcuserdata/
ios/Podfile.lock
ios/Pods/

# Android/IntelliJ related
android/.gradle/
android/app/build/
android/.idea/
android/local.properties
android/.settings/
android/.externalNativeBuild/
android/captures/

# VS Code related
.vscode/

# macOS related
macos/Flutter/ephemeral/
macos/Pods/
macos/Runner.xcworkspace/
macos/Podfile.lock
macos/Pods/

# Linux related
linux/flutter/ephemeral/

# Windows related
windows/flutter/ephemeral/

# Web related
web/.dart_tool/

# Misc
*.iml
*.ipr
*.iws
*.swp
*.swo
*.DS_Store
.idea/
*.log
*.tmp
*.bak
*.orig
*.rej
*.sublime-workspace
*.sublime-project

# Coverage
coverage/

# Firebase
android/app/google-services.json
ios/Runner/GoogleService-Info.plist